@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center" style="margin-top: 200px;">
    <h1 class="display-4">Welcome to LibraryCom</h1>
    <p class="lead">Explore a world of books at your fingertips.</p>
    <p>
        <a href="@Url.Action("Index", "Display")" class="btn btn-primary btn-lg">Learn more</a>
    </p>
</div>


