@using Library.ViewModel
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center">Login</h2>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100 mt-100">
            <div asp-validation-summary="All" class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 justify-content-center ">
                <form asp-action="Login" method="post">

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Email" class="form-label" for="form3Example3">Email address</label>
                        <input asp-for="Email" class="form-control form-control-lg"
                               placeholder="sad@abd.com" />
                        <span asp-validation-for="Email"></span>

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label asp-for="Password" class="form-label" for="form3Example4">Mot de passe</label>
                        <input asp-for="Password" type="password" id="form3Example4" class="form-control form-control-lg"
                               placeholder="***************" />
                        <span asp-validation-for="Password"></span>

                    </div>

                
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <input type="submit" class="btn btn-outline-success float right" value="login"
                               style="padding-left: 2.5rem; padding-right: 2.5rem;">
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a href="@Url.Action("SignUp", "Account")"
                                                      class="link-danger">Register</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>